*{
    padding: 0;
    margin: 0;
    --primary-color: #fdba74;
    --background-color: #fed7aa;
}

html{
    background-color: var(--background-color);
}

#content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    padding: 20px 0 20px 0;
    min-height: 10vh;
    box-sizing: border-box;
    background-color: var(--primary-color);
    height: 50px;
}

nav{
    padding: 0 50px 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 50px;
}

.logo{
    font-size: 25px;
    font-weight: bold;
}

nav ul{
    display: flex;
    gap: 20px;
}

nav ul li{
    list-style: none;
}

.nav-button{
    position: relative;
    border: none;
    background: none;
    transition: transform 0.3s ease-in-out
}

.nav-button:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

.nav-button.active{
    border-bottom: white 2px solid;
}

.main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main-card{
    flex-grow: 1;
    height: 1fr;
    margin: 0 auto;
    padding: 10px;
    margin: 25px 50px 25px 50px;
    display: block;
    background-color: white;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-page h2{
    padding: 10px 0 10px 0;
}

.main-page .tagline{
    padding-bottom: 10px;
}

.main-page img{
    width: 300px;
    height: 200px;
}

h1,h2{
    padding: 0px 0 20px 0;
}

h2{
    padding-top: 10px;
}

.header img{
    padding-top: 20px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-auto-rows: auto;
    gap: 10px;
}

.card{
    background-color: orange;
    padding: 20px;
    border-radius: 25px;
}

.card .title{
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}
.card .sub-text{
    font-style: italic;
    padding: 5px;
}

.contact-container{
    display: flex;
}

.contact-details, .contact-map{
    flex:1;
}

.line-text{
    padding-bottom: 20px;
    display: flex;
    gap: 10px;
}

#contactForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contactForm label{
    padding: 10px 0 10px 0;
}

#contactForm input, #contactForm textarea{
    width: 50%;
}

#contactForm input{
    width: 50%;
    height: 20px;
}

#contactForm textarea{
    width: 75%;
    height: 100px;
    resize: none;
}

.contact-map{
    height: 350px;
}

footer{
    background-color: var(--primary-color);
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}